/* Documento CSS */
*{margin: 0;}
body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

h1 {text-align: center;
font-size: 2em;
background-color: #99849b;
padding: 8px 0px;}

h2 {text-decoration: underline ;
padding-bottom: 8px ;
font-size: 1.2em ;}

body header.Cabecera {background-color: #483c50;
padding: 16px 0px;
margin-bottom: 16px; }

.Temas {padding: 16px 0px; 
width: 70%;
margin: 0px auto; 
border-bottom: #A95993 solid 4px;}

.Temas ol, .Temas ul {padding-bottom: 16px ;}

.Temas p {line-height: 180%;
padding-bottom: 24px;}

.Pie {text-align: center;
background-color: #483c50;
margin-top: 24px;
color: #9e91a7;
padding: 16px 0px;}

#Tablas {border: none;}