/* Documento CSS */
body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background-color: #eeba71;
    color: #2c0603;
    padding: 0;
}

.header {
    background: #521f0a;
    color: #eeba71;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.menu a {
    color: #eeba71;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    color: #a6612a;
}

section {
    padding: 30px;
}

.flex-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.galeria-flex {
    display: flex;
    gap: 10px;
    padding: 10px;
}

img {
    max-width: 100%;
    padding: auto;
    border-radius: 10px;
}

.footer {
    text-align: center;
    background: #2c0603;
    color: #eeba71;
    padding: 1rem;
}

ul li:nth-child(odd) {
    background: #af9477;
    padding: 5px;
}

h2 {
    color: #521f0a;
    border-bottom: 2px solid #a6612a;
    padding-bottom: 5px;
}

img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (min-width: 768px) {
    .flex-container {
        flex-direction: row;
    }
}

@media (min-width: 1380px) {
    body {
        max-width: 1200px;
        margin: 100%;
    }
}