/* Documento CSS */
* {margin: 0%; 
    padding: 0%; }

    body {background-color: #D8D2C6 ;
        font-family: 'Times New Roman', Times, serif;}

    h1 {text-align: center;
        font-size: 3em ;
    color: #0B161E ;
background-color: #A6B9BE ;
padding: 25px ;
margin-bottom: 0% ;}

     h2  {text-align: center;
        text-decoration-line: underline;
    padding: 5px ;
     font-size: 1.5em ;}

     p {text-align: center;
    padding: 2px ;
    font-size: 1em;}

img { margin: 20px auto ;
display: block;
width: 300px ;}

.lugares {padding: 16px 0px; 
width: 70%;
margin: 0px auto; 
border-bottom: #4F6734 solid 4px;}

footer {text-align: center;
    padding: 5px ;
    font-size: .8em;}

.Imagenes {display: flex;}